includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    phpVersion: 80500
    paths:
        - app/
    level: 8
    ignoreErrors:
        - '#Trait .+ is used zero times and is not analysed#'
    excludePaths: []
