name: Deploy

on:
  workflow_run:
    workflows: [ CI ]
    types: [ completed ]
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    strategy:
      matrix:
        webhook_secret: [ WEBHOOK_URL_SERVER_1, WEBHOOK_URL_SERVER_2 ]

    steps:
      - name: Trigger deployment
        run: |
          curl -X POST "${{ secrets[matrix.webhook_secret] }}" \
            -H "Authorization: Bearer ${{ secrets DEPLOY_API_TOKEN }}" \
            --fail --silent --show-error
